@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  margin: 0px;
  padding: 0px;
  color: white;
  background: #540e70; /* fallback for old browsers */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a{
  color: white;
}

.logo{
  width: 90%;
  max-width: 550px;
  margin: 20px auto 0px auto;
  display: block;
}

.container{
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}

.text-center{
  text-align: center;
}
p {
  padding: 10px;

}

h2{
  text-transform: uppercase;
  padding: 10px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
}

.form {
  display: inline-block;
  position: relative;
  background: #FFFFFF;
  margin: 20px;
  padding: 45px;
  width: 600px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form a{
  color: #ac42d7;
}



.social-link{
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
  right: 13px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: rgba(255,255,255,0.5);
  vertical-align: middle;
  color: #a725a7;
  padding: 9px 0 0 3px;
  font-size: 38px;
  transition: all 200ms ease-in-out;
}
.social-link:hover{
  color:  white !important;
  background: #a725a7;
}

.name {
  color: black;
  text-align: center;
  font-family: "Roboto", sans-serif;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  font-size: 18px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ac42d7;
  max-width: 300px;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover{
  background: #7609A2;
}


@media screen and (max-width: 700px){
  .form {
    width: 90%;
    margin: 20px 0px;
    padding: 25px 4px;
  }

  .form button {
    position: relative;
    max-width: 200px;
    margin-left: -50px;
  }

}
